PORT=3000

# JWT
JWT_SECRET=tu_secreto_jwt
DEFAULT_ROLID=1
DEFAULT_ACTIVO=true

# PostgreSQL local (pgAdmin)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=virem_db
DB_USER=postgres
DB_PASSWORD=tu_password

# Alternativa: cadena de conexión
# DATABASE_URL=postgresql://usuario:password@localhost:5432/virem_db
# DB_SSL=false

# Veriphone
VERIPHONE_API_KEY=tu_api_key
